.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

img {
  display: block;
}

.container {
  width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: all 250ms linear;
  overflow-y: auto;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  transform: scale(1);
  transition: all 250ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 15px;
}

.modal-form {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 40px;
  /* margin-bottom: 10px; */
}

.name-label {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.167px;
  letter-spacing: 0.01em;
  color: #757575;
  height: 14px;
  margin-top: 10px;
  margin-bottom: 4px;
}

.first-label {
  margin-top: 0;
}

input:focus {
  outline: none;
  border-color: #2196F3;
}

input:focus + svg {
  fill: #2196F3;
}

.user-name-span {
  position: relative;
}

.form-user-name-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.form-user-name-svg-phone-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.user-phone-span {
  position: relative;
}

.user-phone-span-mail-span {
  position: relative;
}

.form-user-mail-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.form-user-comment {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
}

.form-user-comment::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-policy-label {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.modal-form-policy-label::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  background-image: none;
  margin-right: 9px;
}

.modal-form-policy:checked + .modal-form-policy-label::before {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  fill: white;
  background-image: url(../../checkbox.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2196F3;
  border: none;
}

.modal-form-policy-label-link {
  color: #2196F3;
  text-decoration: underline;
}

.btn-submit {
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2196F3;
  border: none;
  padding: 10px 55px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.subtitle {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-right: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .subtitle {
    font-size: 36px;
    line-height: 1.167;
    margin-bottom: 50px;
  }
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link-svg {
  fill: currentColor;
}

.social-link-item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 1200px) {
  .social-link:hover {
    background-color: #2196F3;
    color: #ffffff;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 3px 4px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}

.close-btn:hover {
  fill: #2196F3;
}

.header {
  background: #FFFFFF;
  height: 60px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ECECEC;
}

.header-logo {
  font-family: "Ralewey", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #000000;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo-web {
  color: #2196F3;
}

.header-list-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #212121;
  display: block;
  height: 33px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail-link,
.header-tel-link {
  width: 200px;
  margin: 0 auto;
  color: #757575;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link-svg {
  fill: #757575;
  margin-right: 10px;
}

.header-mail-link .header-link-svg,
.header-tel-link .header-link-svg {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-item {
  position: relative;
}

.address-list {
  display: block;
}

@media screen and (min-width: 480px) {
  .header {
    min-width: 320px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
  }
  .nav-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .nav-list-item:last-child {
    margin-bottom: 60px;
  }
  .address-list-item {
    margin-right: 80px;
  }
  .address-list-item:first-child {
    margin-bottom: 16px;
  }
  .header-menu-btn {
    display: inline-flex;
    height: 40px;
    width: 40px;
    border: none;
    outline: none;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(-28%);
  }
  .header-menu-btn .icon-close {
    display: none;
  }
  .header-menu-btn.is-open .icon-close {
    display: block;
  }
  .header-menu-btn.is-open .icon-menu {
    display: none;
  }
  .menu-container {
    display: none;
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px;
    text-align: center;
  }
  .is-open {
    display: block;
  }
}

.studio-link::after {
  content: "";
  position: absolute;
  left: 42%;
  bottom: 0;
  display: block;
  width: 61px;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
}

.header .container {
  display: block;
}

@media screen and (min-width: 768px) {
  .header-menu-btn {
    display: none;
  }
  .header {
    height: 80px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .header-logo {
    font-family: "Ralewey", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    color: #000000;
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
  .header .container {
    display: flex;
    align-items: center;
  }
  .navigation {
    display: flex;
  }
  .header-list-link {
    font-size: 14px;
    line-height: 1.143;
    display: block;
    height: 48px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list {
    display: flex;
    align-items: center;
  }
  .nav-list-item {
    padding-top: 32px;
  }
  .nav-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .address {
    margin-left: auto;
  }
  .address-list {
    display: block;
    padding-top: 21px;
    padding-bottom: 17px;
  }
  .header-mail-link {
    margin-bottom: 10px;
  }
  .header-link-svg {
    fill: #757575;
    margin-right: 10px;
  }
  .header-mail-link .header-link-svg,
  .header-tel-link .header-link-svg {
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-link-svg .studio-link::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: block;
    width: 48px;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .header-link-svg .header {
    display: flex;
    height: 80px;
  }
  .header-link-svg .header-logo {
    font-size: 26px;
    line-height: 1.192;
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .header-link-svg .header-list-link {
    font-size: 14px;
    line-height: 1.143;
  }
  .header-link-svg .header-list-link:hover, .header-link-svg .header-list-link:focus {
    color: #2196F3;
  }
  .header-link-svg .header-mail-link {
    margin-right: 30px;
  }
  .header-link-svg .header-mail-link:hover, .header-link-svg .header-mail-link:focus {
    color: #2196F3;
  }
  .header-link-svg .header-tel-link:hover, .header-link-svg .header-tel-link:focus {
    color: #2196F3;
  }
  .header-link-svg .address {
    margin-left: auto;
  }
  .header-link-svg .address-list {
    display: flex;
  }
  .header-link-svg .address-list-item {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .header-link-svg .address-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .header-mail-link .header-link-svg .header-link-svg,
  .header-tel-link .header-link-svg .header-link-svg {
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-mail-link:hover .header-link-svg .header-link-svg,
  .header-tel-link:hover .header-link-svg .header-link-svg {
    fill: #2196F3;
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 auto 30px auto;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196F3;
  display: flex;
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 4px;
  margin: auto;
  padding: 10px 32px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, .hero-button:focus {
  cursor: pointer;
  background-color: #2196F3;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../photos/hero-bcg/hero-bcg-mobile@2x.jpg);
  }
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../photos/hero-bcg/hero_bcg_mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../photos/hero-bcg/hero-bcg-tablet@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../photos/hero-bcg/hero-bcg-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../photos/hero-bcg/hero-bcg-descktop@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../photos/hero-bcg/hero-bcg-descktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero-title {
    font-size: 44px;
    line-height: 1.364;
  }
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 450px;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

.features-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  width: 450px;
  color: #757575;
}

.features-list {
  display: block;
  margin: 0 auto;
}

.antenna::before {
  display: inline-block;
  content: "";
  background-image: url(../svg-adv/antenna.svg);
  width: 450px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  margin-bottom: 55px;
}

.clock::before {
  display: inline-block;
  content: "";
  background-image: url(../svg-adv/clock.svg);
  width: 450px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  margin-bottom: 55px;
}

.diagram::before {
  display: inline-block;
  content: "";
  background-image: url(../svg-adv/diagram.svg);
  width: 450px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  margin-bottom: 55px;
}

.astronaut::before {
  display: inline-block;
  content: "";
  background-image: url(../svg-adv/astronaut.svg);
  width: 450px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  margin-bottom: 55px;
}

@media screen and (max-width: 767px) {
  .features-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-item-title {
    width: 354px;
    text-align: start;
  }
  .features-description {
    width: 345px;
    text-align: start;
  }
  .features-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
  }
  .features-list-item {
    width: 354px;
  }
  .antenna::before {
    width: 354px;
  }
  .clock::before {
    width: 354px;
  }
  .diagram::before {
    width: 354px;
  }
  .astronaut::before {
    width: 354px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .features-list-item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 95px;
    padding-bottom: 95px;
  }
  .features-item-title {
    width: 270px;
    text-align: start;
  }
  .features-description {
    width: 270px;
    text-align: start;
  }
  .features-list {
    flex-wrap: nowrap;
    width: 100%;
    margin: 0 auto;
  }
  .features-list-item {
    width: 270px;
  }
  .features-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .antenna::before {
    width: 270px;
  }
  .clock::before {
    width: 270px;
  }
  .diagram::before {
    width: 270px;
  }
  .astronaut::before {
    width: 270px;
  }
  .features-list-item {
    width: 270px;
  }
}

@media screen and (max-width: 1199px) {
  .kinds-work {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .kinds-work {
    padding-bottom: 94px;
  }
  .kinds-work-list {
    display: flex;
  }
  .kinds-work-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .kinds-work-list-item {
    position: relative;
  }
  .kinds-work-description {
    width: 370px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(47, 48, 58, 0.8);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.team {
  background: #F5F4FA;
  padding: 60px 0;
}

.team-member-photo {
  width: 450px;
  margin: 0 auto 30px auto;
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team-member-specialty {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.team-list {
  display: block;
}

.team-list-member {
  width: 450px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 24px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team-list-member:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-member-photo {
    width: 354px;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
  .team-list-member {
    width: 354px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list-member:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .team-list-member:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
  .team-member-photo {
    width: 270px;
  }
  .team-list {
    flex-wrap: nowrap;
  }
  .team-list-member:not(:last-child) {
    margin-right: 30px;
  }
  .team-list-member {
    width: 270px;
    padding-bottom: 30px;
  }
}

.clients {
  padding: 60px 0;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.clients-list-item {
  display: flex;
  justify-content: space-between;
}

.clients-list-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #AFB1B8;
  height: 90px;
  border-radius: 4px;
  color: #AFB1B8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-item-link:focus {
  border-color: #2196F3;
  color: #2196F3;
}

.clients-item-svg {
  fill: currentColor;
}

@media screen and (min-width: 480px) {
  .clients-list-item-link {
    width: 210px;
  }
}

@media screen and (max-width: 767px) {
  .clients-list-item:nth-child(-n+4) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients-list-item-link {
    width: 226px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list-item:nth-child(-n+3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding: 95px 0;
  }
  .clients-list {
    display: flex;
    flex-wrap: nowrap;
  }
  .clients-list-item-link {
    width: 170px;
  }
  .clients-list-item-link:hover {
    border-color: #2196F3;
    color: #2196F3;
  }
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: "Ralewey", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer-logo-container {
  display: block;
  width: 154px;
}

.footer-list {
  width: 232px;
  margin-left: auto;
  margin-right: auto;
}

.footer-map-link, .footer-mail-tel-link {
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.footer-map-link {
  color: #FFFFFF;
}

.footer-mail-tel-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.footer-input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  padding: 15px 15px 15px 16px;
  color: #757575;
  margin-bottom: 20px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link-list {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.footer-social-link-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link-svg {
  fill: #ffffff;
}

.footer-btn {
  position: relative;
  background-color: #2196F3;
  display: block;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  text-align: start;
  padding-left: 29px;
  margin: 0 auto;
}

.footer-form-btn-svg {
  position: absolute;
  fill: #FFFFFF;
  right: 28px;
  bottom: 25%;
}

@media screen and (min-width: 480px) {
  .footer-input {
    width: 450px;
  }
  .footer-logo-container {
    margin: 0 auto 20px auto;
  }
  .footer-list {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-list {
    margin-bottom: 60px;
  }
  .footer-list-item:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .footer-input {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .logo-and-social-wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 89px;
    padding-left: 76px;
  }
  .footer-social-link-container {
    width: 206px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
  }
  .footer .container {
    display: flex;
    justify-content: space-between;
  }
  .footer-subtitle {
    text-align: left;
  }
  .footer-logo-container {
    width: 145px;
    margin: 0 0 20px 0;
  }
  .footer-list {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 70px;
    width: 233px;
    text-align: left;
  }
  .footer-list-item:not(:last-child) {
    margin-bottom: 9px;
  }
  .footer-input {
    width: 358px;
  }
  .logo-and-social-wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 0px;
    padding-left: 0px;
  }
  .footer-social-link:hover {
    background-color: #2196F3;
  }
  .footer-btn {
    display: inline-block;
    cursor: pointer;
    padding-left: 29px;
    margin: 0 0;
  }
  .footer-btn:hover, .footer-btn:focus {
    background-color: #2196F3;
  }
  .footer-form-btn-svg {
    position: absolute;
    fill: #FFFFFF;
    right: 28px;
    bottom: 25%;
  }
  .footer-form-container {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */