.team {
    background: #F5F4FA;
    padding: 60px 0;

    &-member-photo {
        width: 450px;
        margin: 0 auto 30px auto;
    }

    &-member-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.188;
        text-align: center;
        letter-spacing: 0.03em;
        color: $title-name-color;
        margin-bottom: 10px;
    }

    &-member-specialty {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.188;
        text-align: center;
        letter-spacing: 0.03em;
        color: $description-color;
        margin-bottom: 16px;
    }        
}

.team-list {  
    display: block;

    &-member {
        width: 450px;
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        padding-bottom: 24px;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .team-list { 
        &-member:not(:last-child) {
           margin-bottom: 30px ;
        }
     }
}

@media screen and (min-width: 768px) {
    .team {
        &-member-photo {
            width: 354px;
        }
    }

    .team-list {  
        display: flex;
        flex-wrap: wrap;
    
        &-member {
            width: 354px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .team-list { 
        &-member:not(:nth-child(2n)) {
            margin-right: 30px ;
        }

        &-member:nth-child(-n+2) {
            margin-bottom: 30px;
     }
}
}

@media screen and (min-width: 1200px) {
.team {
    padding: 94px 0;

    &-member-photo {
        width: 270px;
    }
 }

.team-list {  
    flex-wrap: nowrap;

    &-member:not(:last-child) {
        margin-right: 30px ;
    }

    &-member {
        width: 270px;
        padding-bottom: 30px;
    }
}
}