$main-font: "Roboto", sans-serif;
$secondary-font: "Ralewey", sans-serif;
$header-bcg-color: #FFFFFF;
$header-logo-color: #000000;
$footer-logo-color: #FFFFFF; 
$logo-web-color: #2196F3;
$list-link-color: #212121;
$accent-color: #2196F3;
$header-mail-tel-link-color:  #757575;
$hero-title-color:  #FFFFFF;
$button-text-color: #FFFFFF;
$title-name-color:  #212121;
$description-color: #757575;
$footer-bcg-color:  #2F303A;
$footer-map-link-color: #FFFFFF;
$footer-mail-tel-link-color: rgba(255, 255, 255, 0.6);
